<!DOCTYPE HTML>
<html xmlns:th="http:www.thymeleaf.org">
<head>
    <title>Addition</title>
    <meta http-equiv="Content-Type" content="text/html: charset=UTF-8" />
</head>
<body>
    <h1>Add Two Numbers</h1>
    <form action="#" th:action="@{/add}" th:object="${calculator}" method="post">
        <p>First Number: <input type="text" th:field="*{num1}" /></p>
        <p>Second Number: <input type="text" th:field="*{num2}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset"/> </p>
    </form>
</body>
</html>